<div id="page-content">
  <div class="container">
      <div class="row">
          <div class="col-md-8">

              <div class="profile row">
                  <div class="col-sm-5">
                      <img class="img-responsive profile-img" src="assets/images/profile-img.jpg" />
                  </div>
                  <div class="col-sm-7">
                      <div class="profile-desc">
                          <div class="row">
                              <div class="col-md-4">
                                  <strong>Full Name:</strong>
                              </div>
                              <div class="col-md-8 profile-desc-item">
                                  Lionel Messi
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-4">
                                  <strong>Birthday:</strong>
                              </div>
                              <div class="col-md-8 profile-desc-item">
                                  08/08/1986
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-4">
                                  <strong>Location:</strong>
                              </div>
                              <div class="col-md-8 profile-desc-item">
                                  Dickinson, North Dakota
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-4">
                                  <strong>Institution</strong> (School or organization):
                              </div>
                              <div class="col-md-8 profile-desc-item">
                                  Dickinson High School
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-4">
                                  <strong>Team Name:</strong>
                              </div>
                              <div class="col-md-8 profile-desc-item">
                                  Gators
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                  <a class="link-btn green-btn" href="#">Visit Team Page</a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-12 profile-fulldesc">
                      <h3>Player Background and Info:</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum </p>
                  </div>
              </div>

              <h4 class="events-group-title">Events Attending</h4>
              <div class="events-group-open clearfix">
                  <div class="events-group-desc">
                      <h2>Next Event Attending</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullam</p>
                      <div class="progress">
                          <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="150" style="width: 50%">
                              $75
                          </div>
                          <div class="progress-finish">$150</div>
                      </div>
                      <div class="event-btn">
                          <a class="link-btn red-btn" href="#">Donate</a>
                          <a class="link-btn green-btn pull-right" href="#">share <i class="fa fa-share-square-o" aria-hidden="true"></i></a>
                      </div>
                  </div>
                  <div class="events-group-img" style="background-image: url(assets/images/temp/event/event-open1.jpg)"></div>
              </div>
              <div class="events-group-open clearfix">
                  <div class="events-group-desc">
                      <h2>Next Event Attending</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullam</p>
                      <div class="progress">
                          <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="150" style="width: 100%">
                              $200
                          </div>
                          <div class="progress-finish">$200</div>
                      </div>
                      <div class="event-btn">
                          <a class="link-btn red-btn" href="#">Donate</a>
                          <a class="link-btn green-btn pull-right" href="#">share <i class="fa fa-share-square-o" aria-hidden="true"></i></a>
                      </div>
                  </div>
                  <div class="events-group-img" style="background-image: url(assets/images/temp/event/event-open2.jpg)"></div>
              </div>

              <h4 class="events-group-title">Events Attended</h4>
              <div class="events-group-close clearfix">
                  <div class="events-group-img" style="background-image: url(assets/images/temp/event/event-close1.jpg)"></div>
                  <div class="events-group-desc">
                      <div>
                          <div>
                              <div>
                                  <table>
                                      <tr>
                                          <td><strong>Description:</strong></td>
                                          <td>Lorem ipsum </td>
                                      </tr>
                                      <tr>
                                          <td><strong>Location:</strong></td>
                                          <td>Example City</td>
                                      </tr>
                                  </table>
                              </div>
                              <div>
                                  <table>
                                      <tr>
                                          <td><strong>Total rased:</strong></td>
                                          <td>Lorem ipsum </td>
                                      </tr>
                                      <tr>
                                          <td><strong>Position:</strong></td>
                                          <td>Lorem ipsum</td>
                                      </tr>
                                  </table>
                              </div>
                              <div>
                                  <div class="count">$300 <div class="place pull-right"><img src="assets/images/medal.png" /> 1<sup>st</sup></div></div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="events-group-close clearfix">
                  <div class="events-group-img" style="background-image: url(assets/images/temp/event/event-close2.jpg)"></div>
                  <div class="events-group-desc">
                      <div>
                          <div>
                              <div>
                                  <table>
                                      <tr>
                                          <td><strong>Description:</strong></td>
                                          <td>Lorem ipsum </td>
                                      </tr>
                                      <tr>
                                          <td><strong>Location:</strong></td>
                                          <td>Example City</td>
                                      </tr>
                                  </table>
                              </div>
                              <div>
                                  <table>
                                      <tr>
                                          <td><strong>Total rased:</strong></td>
                                          <td>Lorem ipsum </td>
                                      </tr>
                                      <tr>
                                          <td><strong>Position:</strong></td>
                                          <td>Lorem ipsum</td>
                                      </tr>
                                  </table>
                              </div>
                              <div>
                                  <div class="count">$200 <div class="place pull-right"><img src="assets/images/medal.png" /> 2<sup>nd</sup></div></div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

          </div>
          <div class="col-md-4">
              <div class="events-list">
                  <div class="event">
                      <div class="event-img" style="background-image: url(assets/images/temp/event/event1.jpg)"></div>
                      <h2>Upcoming Event</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                      <div class="event-btn">
                          <a class="link-btn red-btn" href="#">join</a>
                          <a class="link-btn green-btn pull-right" href="#">share <i class="fa fa-share-square-o" aria-hidden="true"></i></a>
                      </div>
                  </div>
                  <div class="event">
                      <div class="event-img" style="background-image: url(assets/images/temp/event/event2.jpg)"></div>
                      <h2>Upcoming Event</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                      <div class="event-btn">
                          <a class="link-btn red-btn" href="#">join</a>
                          <a class="link-btn green-btn pull-right" href="#">share <i class="fa fa-share-square-o" aria-hidden="true"></i></a>
                      </div>
                  </div>
                  <div class="event">
                      <div class="event-img" style="background-image: url(assets/images/temp/event/event3.jpg)"></div>
                      <h2>Upcoming Event</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                      <div class="event-btn">
                          <a class="link-btn red-btn" href="#">join</a>
                          <a class="link-btn green-btn pull-right" href="#">share <i class="fa fa-share-square-o" aria-hidden="true"></i></a>
                      </div>
                  </div>
                  <div class="event">
                      <div class="event-img" style="background-image: url(assets/images/temp/event/event4.jpg)"></div>
                      <h2>Upcoming Event</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                      <div class="event-btn">
                          <a class="link-btn red-btn" href="#">join</a>
                          <a class="link-btn green-btn pull-right" href="#">share <i class="fa fa-share-square-o" aria-hidden="true"></i></a>
                      </div>
                  </div>
              </div><!--events list-->
          </div>
      </div>
  </div>
</div><!--page-content-->