<!--Pop Up-->
<div class="modal fade" id="actionTeam" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div class="or">or</div>

      <div class="createTeam">
        <h2>Create</h2>
        <p>Create a new team and invite your friends.</p>
        <div class="center"><img class="img-responsive" src="images/iconCreateTeam.png" /></div>
        <a class="link-btn lg-btn green-btn" href="#">Create a team</a>
      </div>
      <div class="joinTeam">
        <h2>Join</h2>
        <p>Join your friend’s team.</p>
        <div class="center"><img class="img-responsive" src="images/iconJoinTeam.png" /></div>
        <a class="link-btn lg-btn blue-btn" href="#">Join a team</a>
      </div>
    </div>
  </div>
</div>