<div class="registration-form">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-md-offset-5">
        <form name="resetForm" [formGroup]="resetForm" #formReset="ngForm" novalidate (ngSubmit)="submit()"
              id="resetForm"
              class="reset-form">
          <h2>Reset your password</h2>
          <p class="text-center">Please, enter your new password</p>
          <div class="row">
            <div class="form-group w-help-block col-xs-12">
              <label>New password</label>
              <input type='password' class="form-control" name="PasswordResetForm[password]"
                     [ngClass]="{'field_invalid' : resetForm.controls['password'].invalid &&
                     (resetForm.controls['password'].touched || formReset.submitted)}"
                     formControlName="password"/>
              <small class="error"
                     *ngIf="resetForm.controls['password'].invalid &&
                     (resetForm.controls['password'].touched || formReset.submitted)">
                Please enter new password with minimal length of 6 symbols
              </small>
              <small class="error" *ngIf="Errors.password != '' ">
                {{ Errors.password }}
              </small>
            </div>
            <div class="form-group w-help-block col-xs-12">
              <label>Confirm new password</label>
              <input type='password' class="form-control" name="PasswordResetForm[passwordRepeat]"
                     [ngClass]="{'field_invalid' : resetForm.controls['passwordRepeat'].invalid &&
                     (resetForm.controls['passwordRepeat'].touched || formReset.submitted)}"
                     formControlName="passwordRepeat" validateEqual="password"/>
              <small class="error"
                     *ngIf="resetForm.controls['passwordRepeat'].invalid &&
                     (resetForm.controls['passwordRepeat'].touched || formReset.submitted)">
                Passwords missmatch
              </small>
              <small class="error" *ngIf="Errors.passwordRepeat != '' ">
                {{ Errors.passwordRepeat }}
              </small>
            </div>
            <div class="form-group col-xs-12">
              <button class="btn btn-red full-width" [disabled]="resetForm.invalid">
                Reset Password
              </button>
            </div>
          </div>
          <a [routerLink]="['/login']" class="back-to-login text-center">Back to Registration</a>
        </form>
      </div>
    </div>
  </div>
</div>

